#logo{
	
background-color: transparent;
height: 130px;



}
.line{
	height: 1px;
	margin:0px 0px 0px 40px;
	background: #000;

}
.iconoMap{
	position: absolute;
line-height:0px;
top: -2**px;
}
.dirMap{
	
padding-left: 13px;
	/*display: inline-block;*/
	width: 110px;

}

img.logo{
	padding-top: 20px;

}
.local_arrow{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: 10px;
	margin-top: 20px;
}

body{
	/*font-family: 'Open Sans', sans-serif;*/
	font-family: 'CaeciliaLTStd45Light', serif;
	height: 600px;
	background-image: url("../images/HsOME.jpg") ;
	background-color: #FFF;
	

	
}
.text{
	margin-top: 30px;
	font-size: 0.9em;
	text-align: justify;
	line-height: 1.39em;
}
.header{
	padding-top: 30px;
	margin-top: 30px;
}

#nav{
	font-family: 'CaeciliaLTStd85Heavy', serif;
	font-size:0.87em;
	
	line-height: 20px;
	/*background-color: #3F4;*/
	margin-top: 60px;
	height: 100px;
	
}

.menu{
	margin-bottom: 10px;

}
.dirPicSmall{
	margin-bottom: 10px;
	padding: 0px;

}
.dirPicBig{
	margin-bottom: 10px;
	margin-top: 40px;
	padding: 0px;

}
.menu a{
	text-decoration: none;
}
.menu a:hover, a:focus { color: #F0F; }

.menuDir a{
	text-decoration: none;
	
}
.menuDir a:hover, a:focus { color: #F0F; }

.menuDir{
	margin-top: 10px;

}
.menuDir p{
	
	font-size: 0.9em;
	
	/*font-weight: bold;*/
	margin: 0px;
	line-height: 1.3em;
}

#homeImage{
	margin-top: 30px;
	
	background-color: #343;
	height: 500px;
}
#slider { 
position: relative;
overflow: hidden;
width: 1000px; 
height: 500px; 
border:0px solid #333;
border-radius: 0px;
margin: 0 auto;
padding: 0;
}

#slider > div {

position:absolute;
top:0;
left:0;

}
#slider img {
width:100%;
min-height:300px;
margin:0;
padding:0; 
border:0;
}

#slider p {
position: absolute;
bottom: 150px;
left: 0;
/*background: #FF4;*/
width: 1000px;
height: 124px;
margin:0;
padding: 5px 0;
color: #eee;
	font-family: 'CaeciliaLTStd75Bold', serif;
font-size: 2em;
line-height: 15px;
text-align:center;
}

#lineH{
	/*position: absolute;*/
	background: #FFF;
	width: 1000px;
	height: 100px;

	
	}



.container{
	
	background-color: #FFF;
	
}
.container_b{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	
}

.widget{
	margin-top: 20px;
	height: 200px;
	background: #333;
}
.logoFooter{
	margin-top: 0px;

}
#social{
margin-right: 0px;
	/*visibility: hidden;*/
}
.right{
position:absolute;
right:0px;


}

.map{
	margin-top: 2px;
	left: -20px;
}
.footer{
	line-height: 1.24em;
	font-size: 0.8em;
	margin-top: 20px;
	height: 100px;
	background: #FFF;
}
.footer p{
	
	margin: 0px;
	line-height: 15px;
}

.shape {
	margin-left: auto;
	margin-right: auto;

}
.agencia {
		font-family: 'CaeciliaLTStd45Light', serif;
	font-size: 0.8em;

}

#nombreDir{
	font-family: 'CaeciliaLTStd85Heavy', serif;
	text-align: center;
 	margin-left: auto;
	margin-right: auto;
	line-height: 150px;

}
#nombreTop{
	font-family: 'CaeciliaLTStd85Heavy', serif;
	margin-top: 90px;
	text-align: center;
 	margin-left: auto;
	margin-right: auto;
	line-height: 40px;

}
.titleC p{
	font-family: 'CaeciliaLTStd75Bold', serif;
	text-align: center;
 	margin-left: auto;
	margin-right: auto;
	font-size: 1.3em;
	/*line-height: 250px;*/

}

.circleTop {
	/*vertical-align: middle;*/
	
	 display: inline-block;
    /*vertical-align: middle;*/
	opacity:0.8;
	width: 250px;
	height: 250px;
	background: #FFF;
	-moz-border-radius: 125px;
	-webkit-border-radius:125px;
	border-radius: 125px;
}
#circleTop {
	/*vertical-align: middle;*/
	
	 display: inline-block;
    /*vertical-align: middle;*/
	opacity:0.8;
	width: 250px;
	height: 250px;
	background: #FFF;
	-moz-border-radius: 125px;
	-webkit-border-radius:125px;
	border-radius: 125px;
}
#circleD {
	/*vertical-align: middle;*/
	margin-top: 25px;
	 display: inline-block;
    /*vertical-align: middle;*/
	margin-left: 70px;
	margin-right: auto;
	line-height: 40px;
	width: 150px;
	height: 150px;
	background: #CCC;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
}
.lineC{
	width: 200px;
	margin-left: 25px;
	margin-top: -20px;
	height: 2px;
	padding:0px 0px 0px 0px;
	background: #000;

}
#ontop {
	
	z-index: 50;
	/*top: 440px;*/
	position: absolute;
	left: 350px;
	
	top:180px;
	width: 100px;
	height:100px;
}

#inmiddle {
	background-color: #66FFFF;
	z-index: 25;
	/*top: 440px;*/
	position: absolute;
	left: 100px;
	width:300px;
	height:100px;
}

#onbottom {
	background-color: #CCCCCC;
	/*top: 440px;*/
	position: absolute;
	
	width:500px;
	height:100px;
}
.onTopPic {
	
	z-index: 0;
	/*top: 440px;*/
	position: absolute;
	/*left: 350px;
	
	top:180px;
	width: 100px;
	height:100px;*/
}
#triangle-up {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #CCC;
	margin:0px;
	top:130px;
	left: 140px;
}
.boxPic{
	z-index: 0;
	height: 50px;
	width: 300px;
	background: #CCC;
	margin-top: 150px;
}
.titleP {
	font-family: 'CaeciliaLTStd75Bold', serif;
	font-size: 0.8em;
	text-align: left;
	padding-left: 10px;
 	margin-left: auto;
	margin-right: auto;
	line-height: 6px;
	padding-top: 10px;	/*line-height: 250px;*/
	
}
.lineP{
	position: absolute;
	background: #000;
	width: 280px;
	height: 1px;
	margin-top: -10px;
	
	}


